@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Mate+SC|Sahitya');

html {
	padding-right: 10%;
	padding-left: 10%;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

header img {
	margin-right: 45%;
	margin-left: 45%;
}

nav {
	text-align: center;
}

nav ul li {
	display: inline;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
	list-style: none;
}

h1 {
	color: #df145a;
	text-align: center;
	text-transform: capitalize;
}

main p {
	color: #000000;
}

ol,
ul {
	display: inline-block;
}



footer {
	width:100%;
	height:100px;   /* Height of the footer */
	background-color: #d4145a;
	font-size: .75em;
	color: white;
}



footer p,
footer address {
	text-align: center;
}

h2 {
	color: black;
}

/*text*/

h1,
h2 {
	font-family: 'Mate SC', serif;
}

p,
nav,
footer {
	font-family: 'Sahitya', serif;
}

/*Home*/

.home-content {
	text-align: center;
}

/*Portfolio*/

.col-container{
 	font-size: 0px;
}

.col-container > *{
  font-size: 1rem;
}

.col {
      margin: 2%;
      display: inline-block; 
}

.portfolio-one {
	width: 27.333%;
}

.portfolio-two {
	width: 27.333%;
}

.portfolio-three {
	width: 27.333%;
}

/*Portfolio Pages*/

.photo-one {
	width: 27.333%;
}

.photo-two {
	width: 27.333%;
}

.photo-three {
	width: 27.333%;
}

.photo-four {
	width: 27.333%;
}

.photo-five {
	width: 27.333%;
}
	
.photo-six {
	width: 27.333%;
}

.photo-seven {
	width: 27.333%;
}

.photo-eight {
	width: 27.333%;
}

.photo-nine {
	width: 27.333%;
}


.home-img{
	text-align: center;
}

.home-bottom-content{
	text-align: center;
}

.frames{
	text-align: center;
}

/*Responsive CSS*/

@media screen and (max-width: 480px){
	
	nav ul li {
	display: list-item;
	text-align: center;
}
	main img{
		height: 100%;
		width: 100%;
	}
	.col{
		width: 100%;
	}
}